* {
    list-style: none;
}
body{
    margin:0;
    padding: 0;
    background-color: black;
    font-family: sans-serif;
}

header{
    position: relative;
    background-size:cover;
    height: 160px;
    background-color: rgb(209, 233, 101);
    margin:auto;
}

#logo {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 30px;
    left: 150px;
    background-color:black;   
}

.buscar{
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
 }

input.src {
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    color: #444;
    border: 3px solid #a50559;
    transition: all  .5s;
}

input.src{
    width: 450px;
    background-color: #fff;
    border-color: #8c10b3;
    box-shadow: 0 0 5px #6dcff680;
}


.redes {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background-color: black;
    top: 12px;

}

#icono1{
    right:200px;
}

#icono2{
    right: 240px;
}

#icono3{
    right:280px;
}

#carrito{
    position: absolute;
    background-color:#838080;
    height:35px;
    width:35px;
    border-radius:100px;
    right:200px;
    bottom:60px;
}

#login{
    position: absolute;
    background-color:aqua;
    height:35px;
    width:55px;
    border-radius:150px;
    right:250px;
    bottom:60px;
}


nav{
    position: relative;
    background-color: rgb(17, 17, 17);
    margin: 15px 110px;
    background-size:cover;
    height: 50px;
}

.botones{
    float: left;
    background-color: #fff;
    width:100px;
    height: 20px;
    margin: 10px 30px;
    left: 250px;

}


section{
    position:relative;
    width:1000px;
    height:400px;
    background-color: rgb(252, 230, 202);
    margin: auto;
}

footer{
    position: relative;
    width:1000px;
    height:70px;
    margin:auto;
    background-color: rgb(209, 233, 101);
}


